.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  width: 30%;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.box {
  position: relative;
  height: 100%;
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.content {
  padding: 20px;
  text-align: center;
  height: 100%;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .card {
    width: 80%;
    margin: 10px auto;
  }
}

